@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap");

#root {
  margin: 0 auto;
  font-family: "Shippori Mincho B1", serif;
  font-weight: 600;
}

.viewport {
  display: flex;
  justify-content: space-between;
}

.navigation {
  flex: 1;
  padding: 4rem;
  padding-top: 2rem;
}

.content {
  flex: 3;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  position: fixed;
  font-family: "Shippori Antique B1", sans-serif;
}

.nav-container img {
  padding-bottom: 2rem;
}

.nav-container ul {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.3rem;
  font-size: large;
}

.nav-container ul a {
  color: darkgreen;
}

.nav-container button {
  border-radius: 0.1rem;
  background-color: darkgreen;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.nav-container button:hover {
  background-color: rgba(89, 130, 55, 0.9);
}

.banner-title {
  position: absolute;
  writing-mode: vertical-rl;
  align-self: center;
  color: darkgreen;
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem;
  margin-left: 2rem;
}

.banner-title p {
  width: fit-content;
  height: fit-content;
  letter-spacing: 0.4rem;
  margin: 1rem;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.banner-slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.banner-slider img {
  overflow: hidden;
  opacity: 1;
}

.about {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-title {
  writing-mode: vertical-rl;
  align-self: center;
}

.about-title .subtitle {
  font-size: 100%;
}

.about-title p {
  direction: rtl;
  font-size: 2rem;
  font-weight: 600;
}

.about-item-container {
  display: flex;
  justify-content: space-evenly;
}

.about-item {
  background: none;
  border: none;
  margin: 2rem;
  padding: 2rem;
  width: 25rem;
}

.about-item img {
  background-color: #efefe5;
  border-radius: 50%;
  transition: all 1s ease;
  transition-duration: 1s;
}

.about-item img:hover {
  background-color: rgba(89, 120, 55, 0.5);
}

.people {
  background-color: #efefe5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-column {
  display: flex;
  flex-direction: row;
}

.people-column ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-column img {
  width: 60%;
}

.people-column .name {
  font-weight: 800;
  font-size: 1.5rem;
}

.people-column p {
  margin: 0.5rem;
}

.people button {
  height: fit-content;
  margin: 2rem;
  border: none;
  padding: auto;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px;
  border-color: #efefe5;
  padding: 6rem;
}

.entry button {
  border-radius: 0.1rem;
  border: none;
  transition: all 0.3s ease;
}

.entry button:hover {
  background-color: rgba(89, 130, 55, 0.9);
  color: white;
}

footer {
  background-color: #efefe5;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  font-family: "Shippori Antique B1", sans-serif;
  color: darkslategrey;
}

footer .copyright {
  font-size: 1rem;
  padding-right: 2rem;
}

footer .contact {
  padding-left: 4%;
}

footer .logo {
  display: flex;
  align-items: center;
}

footer .logo img {
  margin-right: 1.5rem;
}

.tel-fax {
  display: flex;
}

.tel-fax h4 {
  padding-left: 2rem;
  padding-top: 0.5rem;
}
